
.ad{
	background-image:url(../img/002.jpg) ;
	background-size:cover;
	width:100%;
	padding-bottom:500px;
	background-position:center 0 ;
}
.project{
	max-width:390px;
	margin:10px auto;
	text-align:center;
	border:1px solid #ddd;
	border-radius:10px;
}
.project a{
	border:none;
	padding:10px;
	border-radius:10px;
}
._project-header{
	text-align:center;
	width:60%;
	margin:0 auto 20px;
}
